.divCards {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px; /* Agrega espacio entre las tarjetas */
    padding: 2%; /* Agrega espacio interno */
}

.card2 {
    width: calc(33.33% - 40px); /* Calcula el ancho de cada tarjeta para que haya 3 tarjetas por fila */
    box-shadow: rgba(0, 0, 0, 0.16) 0px 3px 6px, rgba(0, 0, 0, 0.23) 0px 3px 6px;
    border-radius: 5px;
    padding: 1%;
    margin: 5px;
    transition: transform 0.3s ease;
    box-sizing: border-box; /* Incluye el padding y el borde en el cálculo del tamaño */
}

@media (max-width: 768px) {
    .card2 {
        width: calc(50% - 30px); /* Cambia el ancho de las tarjetas a 50% en dispositivos con ancho máximo de 768px */
    }
}

@media (max-width: 576px) {
    .card2 {
        width: calc(100% - 20px); /* Cambia el ancho de las tarjetas a 100% en dispositivos con ancho máximo de 576px */
    }
}

.card2:hover {
    transform: scale(1.05); /* Reduce el escalado al pasar el mouse */
}

img {
    border-radius: 9%;
    width: 100%;
    height: auto; /* Ajusta automáticamente la altura */
    margin-bottom: 10px; /* Agrega espacio entre la imagen y el texto */
}

.card2 h5, .card2 p {
    text-align: center;
    margin-bottom: 10px; /* Agrega espacio entre el título/descripción y el precio */
}

.card2 button {
    width: 100%; /* Ajusta el ancho del botón */
}

.precio {
    text-align: center;
    font-size: 20px; /* Reduzco el tamaño de la fuente para que se ajuste mejor en dispositivos pequeños */
}
